
body{
  width:1000px;
}

#bg{
  position: relative;
  width: auto;
  height: 300px;
  top: 0;
  left: 0;
}

#profile{
  position: absolute;
  width: 200px;
  height: 200px;
  overflow:hidden;
  border-radius: 50%;
}

