body{
    background-color: #CCCCFF;
    font: sans-serif 14pt bold;
    text-align: center;
}
#hdng{
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
#tbx{
    width: 90%;
    height:400px;
    font-family: monospace;
    font-size: 12pt;
    margin: auto;
}



fieldset{
    border:5px solid black;
    width: auto; 
    display: inline;
    font-weight: bold;
}

#validation{
    text-align: right;
    
}